<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop = "http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/aop 
   		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
		
	<beans:bean name="newBean" id="beanOne" class="beans.Shape" scope="singleton"  init-method="customInit" destroy-method="customDestroy">
	<beans:constructor-arg value="Anirban"></beans:constructor-arg>
		<beans:property name="curDate" value ="" ></beans:property>
	</beans:bean>

    <beans:bean id="add1" class="com.training.model.Address">
        <beans:constructor-arg value="Hyderabad"></beans:constructor-arg>
        <beans:constructor-arg value="Telangana"></beans:constructor-arg>
        <beans:constructor-arg value="India"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="emp1" class="com.training.model.Employee">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="Anirban Mukherjee"></beans:constructor-arg>
        <beans:constructor-arg>
            <beans:ref bean="add1"></beans:ref>
        </beans:constructor-arg>


    </beans:bean>

    <beans:bean id="ques1" class="com.training.model.Question">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="What is JAVA?"></beans:constructor-arg>
        <beans:constructor-arg>
            <beans:list>
                <beans:value>JAVA is a programming language</beans:value>
                <beans:value>JAVA is a Platform</beans:value>
                <beans:value>JAVA is Gonna RULE THE WORLD</beans:value>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>


</beans:beans>
