<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop = "http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/aop 
   		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
	<!--
	<beans:bean name="newBean" id="beanOne" class="beans.Shape" scope="singleton"  init-method="customInit" destroy-method="customDestroy">
	<beans:constructor-arg value="Anirban"></beans:constructor-arg>
		<beans:property name="curDate" value ="" ></beans:property>
	</beans:bean>

    <beans:bean id="add1" class="com.training.model.Address">
        <beans:constructor-arg value="Hyderabad"></beans:constructor-arg>
        <beans:constructor-arg value="Telangana"></beans:constructor-arg>
        <beans:constructor-arg value="India"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="emp1" class="com.training.model.Employee">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="Anirban Mukherjee"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="emp2" class="com.training.model.Employee" parent="emp1">
        <beans:constructor-arg>
            <beans:ref bean="add1"></beans:ref>
        </beans:constructor-arg>
    </beans:bean>
    -->

    <!--

    <beans:bean id="ans1" class="com.training.model.Answer">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="Java is a programming language"></beans:constructor-arg>
        <beans:constructor-arg value="John"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="ans2" class="com.training.model.Answer">
        <beans:constructor-arg value="2"></beans:constructor-arg>
        <beans:constructor-arg value="Java is a Platform"></beans:constructor-arg>
        <beans:constructor-arg value="Ravi"></beans:constructor-arg>
    </beans:bean>


    <beans:bean id="ques1" class="com.training.model.Question">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="What is JAVA?"></beans:constructor-arg>
        <beans:constructor-arg>
            <beans:list>
                <beans:ref bean="ans1"></beans:ref>
                <beans:ref bean="ans2"></beans:ref>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>
    -->
    <!--
    <beans:bean id="answer1" class="com.training.model.Answer">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="Java is a Programming Language"></beans:constructor-arg>
        <beans:constructor-arg value="12/12/2001"></beans:constructor-arg>
    </beans:bean>
    <beans:bean id="answer2" class="com.training.model.Answer">
        <beans:constructor-arg value="2"></beans:constructor-arg>
        <beans:constructor-arg value="Java is a Platform"></beans:constructor-arg>
        <beans:constructor-arg value="12/12/2003"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="user1" class="com.training.model.User">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="Arun Kumar"></beans:constructor-arg>
        <beans:constructor-arg value="arun@gmail.com"></beans:constructor-arg>
    </beans:bean>
    <beans:bean id="user2" class="com.training.model.User">
        <beans:constructor-arg value="2"></beans:constructor-arg>
        <beans:constructor-arg value="Varun Kumar"></beans:constructor-arg>
        <beans:constructor-arg value="Varun@gmail.com"></beans:constructor-arg>
    </beans:bean>

    <beans:bean id="ques2" class="com.training.model.Question">
        <beans:constructor-arg value="1"></beans:constructor-arg>
        <beans:constructor-arg value="What is Java?"></beans:constructor-arg>
        <beans:constructor-arg>
            <beans:map>
                <beans:entry key-ref="answer1" value-ref="user1"></beans:entry>
                <beans:entry key-ref="answer2" value-ref="user2"></beans:entry>
            </beans:map>
        </beans:constructor-arg>
    </beans:bean>
    -->

    <!--
    <beans:bean id="answer1" class="com.training.model.Answer">
        <beans:property  name="id" value="1"></beans:property>
        <beans:property name="answer" value="Java is a Programming Language"></beans:property>
        <beans:property name="postedDate" value="12/12/2001"></beans:property>
    </beans:bean>
    <beans:bean id="answer2" class="com.training.model.Answer">
        <beans:property name="id" value="2"></beans:property>
        <beans:property name="answer" value="Java is a Platform"></beans:property>
        <beans:property name="postedDate" value="12/12/2003"></beans:property>
    </beans:bean>

    <beans:bean id="user1" class="com.training.model.User">
        <beans:property name="id" value="1"></beans:property>
        <beans:property name="name" value="Arun Kumar"></beans:property>
        <beans:property name="email" value="arun@gmail.com"></beans:property>
    </beans:bean>
    <beans:bean id="user2" class="com.training.model.User">
        <beans:property name="id" value="2"></beans:property>
        <beans:property name="name" value="Varun Kumar"></beans:property>
        <beans:property name="email" value="Varun@gmail.com"></beans:property>
    </beans:bean>

    <beans:bean id="ques2" class="com.training.model.Question">
        <beans:property name="id" value="1"></beans:property>
        <beans:property name="name" value="What is Java?"></beans:property>
        <beans:property name="answers">
            <beans:map>
                <beans:entry key-ref="answer1" value-ref="user1"></beans:entry>
                <beans:entry key-ref="answer2" value-ref="user2"></beans:entry>
            </beans:map>
        </beans:property>
    </beans:bean>
    -->

    <beans:bean id="dos" class="com.training.model.com.training.test.Dos"></beans:bean>
    <beans:bean id="uno" class="com.training.model.com.training.test.Uno" autowire="byName" ></beans:bean>

</beans:beans>
